{% extends 'base.html.twig' %}

{% block title %}All courses{% endblock %}

{% block body %}
    <h1>All courses</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Title</th>
            <th>Price</th>
            <th>Category</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for course in courses %}
            <tr>
                <td>{{ course.title }}</td>
                <td>{{ course.price }}</td>
                <td>{{ course.category ? course.category.name : '' }}</td>
                <td>
                    <a href="{{ path('public_course_show', {'id': course.id}) }}">View</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">No courses yet.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
