<form method="post"
      action="{{ path('admin_attachment_delete', {'id': attachment.id}) }}"
      onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet élément?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ attachment.id) }}">
    <button class="btn-action btn-danger">Supprimer</button>
</form>
