{% extends 'base.html.twig' %}

{% block title %}New Quiz{% endblock %}

{% block body %}
    <h1>Create new quiz for "{{ course.title }}"</h1>

    {{ include('quiz/_form.html.twig') }}

    <a href="{{ path('teacher_course_show', {'id': course.id}) }}">back to course</a>
{% endblock %}
